aiodns==3.0.0
aiosignal==1.2.0
anyio==3.4.0
articles==0.1.0
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
common==0.1.2
dnspython==2.1.0
email-validator==1.1.3
fastapi==0.71.0
frozenlist==1.2.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.4
httptools==0.3.0
httpx==0.21.3
idna==3.3
lxml==4.7.1
Markdown==3.3.6
multidict==5.2.0
passlib==1.7.4
psycopg2==2.9.3
pycares==4.1.2
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
python-dotenv==0.19.2
PyYAML==6.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.29
starlette==0.17.1
thumbnail==1.5
toml==0.10.2
typing_extensions==4.0.1
uvicorn==0.16.0
watchgod==0.7
websockets==10.1
yarl==1.7.2
